<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    Przyszedl post:
        <br><%= p1 %><br>
        <%= p2 %>
    
</body>
</html>