<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<link rel='stylesheet' href='/zad5.css'>
<body>

    <form method="post" action="/POST/result" class="inline">
        <input type="hidden" name="p1" value="hidden post param">
        <button type="submit" name="p2" value="another param" class="link-button">
        This is a link that sends a POST request
        </button>
    </form>

</body>
</html>