<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <form action="/GET/result" method="get">
        <input name="say" value="Hi">
        <input name="to" value="Mom">
        <button>Send my greetings</button>
    </form>
</body>
</html>