<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <% var name='radio1' %>
    <% options %>
	<% include radio %>	
    <div>
        Foo : <%= foo %>
    </div>	
</body>
</html>