<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {#<link rel="stylesheet" href="style.css"/>#}
        <title>{% block title %}{% endblock %} - my page</title>
    {% endblock %}
</head>
<body>
<div>
    {% block accountsView %}{% endblock %}
</div>
</body>
</html>