//tu bedzie mozna odwolac sie do danych -dyanmicznie w przecwienstwie do html
//! tabulator robi mi ten szablon -> skroty: wpisz wgoogle emmet - do podpowiedzi na dole zmien na html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet", href = 'app.css' /> //jeszcze zobacz
</head>
<body>
   moja strona <br/>
   zalogowany jako <%= user %>


</form>
</body>
</html>