{
    "timeout": 3,
    "source": {
        "directories": [
            "src\/list6"
        ]
    },
    "phpUnit": {
        "customPath": "vendor\/bin\/phpunit"
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true
    }
}